body {
background-color: #8c919b;
background-size: cover;
background-attachment: fixed;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.hamburger {
  display: none; 
  font-size: 2.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}


.navbar {
    background-color: #222;
    padding: .5rem 1rem;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: white;
    font-size: 1.75rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
}

.commit-log {
    text-align: center;
}

h1 {
    color: blue;
    text-align: center;
}

/*Responsive Design for Phones*/
@media (max-width: 768px) {


    .hamburger {
        display: block;
    }

    .nav-links {
        position: fixed;
        top: 0;
        right: -250px;
        height: auto;
        width: 180px;
        background-color: #222;
        flex-direction: column;;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 1.5rem;
        gap: 1.5rem;
        transition: right 0.3s ease;
        z-index: 10;
    }

    .nav-links.show {
        right: 0;
    }

    .nav-links li a {
        font-size: 1.3rem;
    }

    .nav-container {
       flex-direction: row;
       justify-content: space-between;
       align-items: center;
    
    }
}