
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #C2C1C3;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.commitLog {
    text-align: center;
}

h1 {
    color: black;
    text-align: center;
}



.aboutText {
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.5;
    color: #ccc;
    margin: 1rem auto;
    max-width: 800px;
}


/*Responsive Design for Phones*/
@media (max-width: 768px) {

}