
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
}

.indexBackground {
    background-image: url('../images/background.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.commitLog {
    text-align: center;
}

h1 {
    color: blue;
    text-align: center;
}

.aboutText {
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.5;
    color: #333;
    margin: 1rem auto;
    max-width: 800px;
}

/*Responsive Design for Phones*/
@media (max-width: 768px) {

}